.container {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
}

.container > * {
    width: 100%;
    box-sizing: border-box;
}

.header {
    background-color: white;
    height: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.content {
    background-color: white;
    padding-top: 8px;
    border-top: 1px solid #E5E5E5;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-panel {
    display: flex;
    flex-direction: column;
}

.input-panel > * {
    margin: 8px 16px;
}

.currency-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.currency-row:hover {
    background-color: rgba(4, 197, 58, 0.2);
}

.currency-key {
    height: fit-content;
    font-weight: 600;
    margin-left: 16px;
}

.currency-value {
    height: fit-content;
    margin-right: 16px;
}


input, .custom-select-input {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 7px 8px;
    outline: none;
    text-align: left;
    display: flex;
    align-items: center;
    height: 12px;
    font-size: 11px;
}

input:hover,
.custom-select-input:hover {
    border-color: rgba(0, 0, 0, 0.50);
}

input:focus,
.custom-select-input:focus {
    border: 2px solid #04C53A;
    padding: 6px 7px;
}

.custom-dropdown {
    font-size: 11px;
    background-color: red;
}

.currency-input::-webkit-outer-spin-button,
.currency-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}